@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/dashboard/dashboard.controller.js")"></script>
}

@breadcrumbs = {
}

@common.main(title = "{{ 'DASHBOARD' | translate }}", admins = admins, ngController="DashboardIndexController", scripts = scripts)(breadcrumbs) {
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>{{ sidebarXivosList.length }}</h3>
                    <p>{{ 'CONFIGURED_XIVOS' | translate }}</p>
                    </div>
                <div class="icon">
                    <i class="fa fa-server"></i>
                </div>
                @if(admins.isSuperAdmin(r.session.get("username").get)){
                    <a href="/xivo" class="small-box-footer">{{ 'SHOW_XIVO_LIST' | translate }} <i class="fa fa-arrow-circle-right"></i></a>
                }
            </div>
        </div>
    </div>
}
