@import model.AdministratorInterface
@(admins: AdministratorInterface, action: String, inner: Html)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/template/templates.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/template/templateAction.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/templates.factory.js")"></script>
}

@breadcrumbs = {
    <li><a href="/templates">{{ 'TEMPLATES' | translate }}</a></li>
    <li class="active">{{ 'CREATE_TEMPLATE' | translate }}</li>
}

@common.main(title = "{{ 'CREATE_TEMPLATE' | translate }}", admins = admins, ngController="TemplateAction", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
                <ul ng-if="errors != undefined">
                    <li ng-repeat="e in errors track by $index">{{ e }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    @{inner}
                </div>
            </div>
        </div>
    </div>
}
