@import model.TemplateProperties._
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">{{ 'NAME' | translate}}</label>
            <input type="text" class="form-control input-lg" ng-model="template.name" id="name" name="name" maxlength="@{NameMaxLength}" required>
            <div ng-messages="templateCreationForm.name.$error" ng-show="templateCreationForm.name.$touched"
                 ng-messages-include="/assets/templates/form-messages.html"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">

        <div class="form-group">

            <label>XIVO</label>
            <ui-select multiple ng-model="template.xivos" on-select="refreshEntities()" name="xivos"
                       on-remove="refreshEntities()">
                <ui-select-match>
                    <span ng-bind="$item.name"></span>
                </ui-select-match>
                <ui-select-choices repeat="xivo.id as xivo in (isXivo | filter: $select.search)">
                    <span ng-bind="xivo.name"></span>
                </ui-select-choices>
            </ui-select>
            <div ng-messages="templateCreationForm.xivos.$error" ng-show="templateCreationForm.xivos.$touched"
                 ng-messages-include="/assets/templates/form-messages.html"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>{{ 'ENTITY' | translate }}</label>
            <ui-select multiple ng-model="template.entities" name="entities" ng-disabled="template.xivos.length == 0"
                       on-select="refreshSelectedEntities()" on-remove="refreshSelectedEntities()">
                <ui-select-match>
                    <span ng-bind="$item.displayName"></span>
                </ui-select-match>
                <ui-select-choices repeat="entity.combinedId as entity in (entitiesList | filter: $select.search)">
                    <span ng-bind="entity.displayName"></span>
                </ui-select-choices>
            </ui-select>
            <p ng-show="template.xivos.length == 0" class="help-block">{{ 'ENTITY_SELECT_XIVOS' | translate }}</p>
            <div ng-messages="templateCreationForm.entities.$error" ng-show="templateCreationForm.entities.$touched"
                 ng-messages-include="/assets/templates/form-messages.html"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div ng-repeat="entity in selectedEntities">
            <div class="form-group">
                <label>{{ 'INTERVAL' | translate }}: {{entity.displayName}}</label>
                <ui-select multiple ng-model="template.intervals[entity.combinedId]" name="intervals">
                    <ui-select-match>
                        <span ng-bind="$item.label"></span>
                        <small>({{$item.start}}-{{$item.end}})</small>
                    </ui-select-match>
                    <ui-select-choices repeat="interval.id as interval in (entity.intervals | filter: $select.search )">
                        <span ng-bind="interval.label"></span>
                        <small>({{interval.start}}-{{interval.end}})</small>
                    </ui-select-choices>
                </ui-select>
                <p ng-show="template.xivos.length == 0" class="help-block">{{ 'ENTITY_SELECT_XIVOS' | translate }}</p>
                <div ng-messages="templateCreationForm.entities.$error" ng-show="templateCreationForm.entities.$touched"
                     ng-messages-include="/assets/templates/form-messages.html"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="radio">{{ 'PEER_SIP' | translate }}</label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="template.peerSipName" value="auto">
                Auto
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="template.peerSipName" value="model">
                {{ 'TEMPLATE' | translate }}
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="template.peerSipName" value="webrtc">
                WebRTC
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="template.peerSipName" value="ua">
                {{ 'UA' | translate }}
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>{{ 'RING_TIME' | translate }}</label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="ringingTime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ringingTimeLabel}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="ringingTime">
                    <li>
                        <a href="#" ng-click="selectRingingTime(0)">{{'UNLIMITED' | translate}} {{'SECONDS' | translate}}</a>
                    </li>
                    <li ng-repeat="time in ringTimes">
                        <a href="#" ng-click="selectRingingTime(time)">{{time}} {{'SECONDS' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{ 'CALLER_ID' | translate }}</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="radio">
                        <label>
                            <input type="radio" name="callerIdMode" ng-model="template.callerIdMode" value="incomingNo">
                            {{ 'INCOMING_NUMBER' | translate }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="callerIdMode" ng-model="template.callerIdMode" value="anonymous">
                            {{ 'ANONYMOUS' | translate }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="callerIdMode" ng-model="template.callerIdMode" value="custom">
                            {{ 'CUSTOM' | translate }}
                        </label>
                        <input type="text" class="form-control" ng-model="template.customCallerId" name="customCallerId"
                               ng-show="template.callerIdMode=='custom'" maxlength="@{CustomCallerIdMaxLength}">
                    </div>
                    <div ng-messages="templateCreationForm.customCallerId.$error" ng-show="templateCreationForm.customCallerId.$touched"
                         ng-messages-include="/assets/templates/form-messages.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{ 'VOICEMAIL' | translate }}</div>
    <div class="panel-body">
        <div class="form-group">
            <label>
                <input type="checkbox" ng-model="template.voiceMailEnabled" ng-value="template.voiceMailEnabled">
                {{ 'HAS_VOICEMAIL' | translate }}
            </label>
            <div ng-messages="templateCreationForm.voiceMailEnabled.$error" ng-show="templateCreationForm.voiceMailEnabled.$touched"
                 ng-messages-include="/assets/templates/form-messages.html"></div>
        </div>
        <div ng-show="template.voiceMailEnabled">
            <div class="form-group">
                <label class="radio">{{ 'VOICEMAIL_NUMBER' | translate }}</label>
                <label class="radio-inline">
                    <input type="radio" name="voiceMailNumberMode" ng-model="template.voiceMailNumberMode" value="short_number">
                    {{ 'LINE_NUMBER' | translate }}
                </label>
                <label class="radio-inline">
                    <input type="radio" name="voiceMailNumberMode" ng-model="template.voiceMailNumberMode" value="custom">
                    {{ 'CUSTOM' | translate }}
                    <input type="text" class="form-inline" ng-model="template.voiceMailCustomNumber" name="voiceMailCustomNumber"
                           ng-show="template.voiceMailNumberMode=='custom'" maxlength="@{VoiceMailCustomNumberMaxLength}">
                </label>
                <div ng-messages="templateCreationForm.voiceMailCustomNumber.$error" ng-show="templateCreationForm.voiceMailCustomNumber.$touched"
                     ng-messages-include="/assets/templates/form-messages.html"></div>
            </div>
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="template.voiceMailSendEmail" ng-value="template.voiceMailSendEmail">
                    {{ 'VOICE_TO_MAIL' | translate }}
                </label>
                <div ng-messages="templateCreationForm.voiceMailSendEmail.$error" ng-show="templateCreationForm.voiceMailSendEmail.$touched"
                     ng-messages-include="/assets/templates/form-messages.html"></div>
            </div>
            <div class="form-group" ng-show="template.voiceMailSendEmail">
                <label>
                    <input type="checkbox" ng-model="template.voiceMailDeleteAfterNotif" ng-value="template.voiceMailDeleteAfterNotif">
                    {{ 'VOICEMAIL_DELETE_MESSAGE' | translate }}
                </label>
                <div ng-messages="templateCreationForm.voiceMailDeleteAfterNotif.$error" ng-show="templateCreationForm.voiceMailDeleteAfterNotif.$touched"
                     ng-messages-include="/assets/templates/form-messages.html"></div>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'SAVE_TEMPLATE' | translate }}</button>
</div>
