@import model.Administrator

<!-- dirty workaround to prevent navigator to replace the login/password -->
<div class="form-group" ng-if="hideMyLogin.value">
    <input type="text" class="form-control">
    <input class="form-control" type="password">
</div>
<!-- end of the dirty workaround -->
<div class="row">
    <div class="col-md-6">
        <div class="form-group" ng-class="{ 'has-error': adminForm.login.$touched && adminForm.login.$invalid }">
            <label>{{'LOGIN' | translate}}</label>
            <input type="text" class="form-control" ng-model="admin.login" name="login"
                   maxlength="@{Administrator.LoginMaxLength}" required>
            <div ng-messages="adminForm.login.$error" ng-show="adminForm.login.$touched"
                 ng-messages-include="/assets/templates/form-messages.html"></div>
        </div>
    </div>
    <div class="col-md-6">
        <label>{{'NAME' | translate}}</label>
        <input type="text" class="form-control" ng-model="admin.name" name="name"
               maxlength="@{Administrator.NameMaxLength}" >
        <div ng-messages="adminForm.name.$error" ng-show="adminForm.name.$touched"
             ng-messages-include="/assets/templates/form-messages.html"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <div class="col-md-12">
            <div class="form-group">
                <label>
                    <input type="checkbox" ng-model="admin.ldap" ng-value="admin.ldap" ng-change="emptyPasswordFields()">
                    LDAP
                </label>
            </div>
        </div>
    </div>
    <div class="col-md-2" ng-hide="admin.ldap">
        <div class="col-md-12">
            <div class="text-center">{{ 'OR' | translate }}</div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="col-md-12">
            <div ng-hide="admin.ldap">
                <div class="form-group" ng-class="{ 'has-error': adminForm.password.$touched && adminForm.password.$invalid }">
                    <label>{{'PASSWORD' | translate}}</label>
                    <input class="form-control" type="password" name="password" ng-model="admin.password" ng-required="!admin.ldap">
                    <div ng-messages="adminForm.password.$error" ng-show="adminForm.password.$touched"
                         ng-messages-include="/assets/templates/form-messages.html"></div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': adminForm.confirmPassword.$touched && adminForm.confirmPassword.$invalid }">
                    <label>{{'PASSWORD_CONFIRM' | translate}}</label>
                    <input class="form-control" name="confirmPassword" type="password" ng-model="admin.confirmPassword" ng-required="!admin.ldap"
                           compare-to="admin.password">
                    <div ng-messages="adminForm.confirmPassword.$error" ng-show="adminForm.confirmPassword.$touched"
                         ng-messages-include="/assets/templates/form-messages.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="admin.superAdmin"> Superadmin
    </label>
</div>
<div class="form-group" ng-if="!admin.superAdmin">
    <label>{{'ROLES' | translate}}</label>
    <ul class="list-unstyled">
        <li ng-repeat="r in roles">
            <input type="checkbox" checklist-model="admin.roleIds" checklist-value="r.id">&nbsp;<b>{{r.name}}</b>
        </li>
    </ul>
</div>
<div class="box-footer">
    <button type="submit" ng-disabled="adminForm.$invalid" class="btn btn-lg btn-primary btn-block">
        {{ 'SAVE_ADMINISTRATOR' | translate}}
    </button>
    <div ng-messages="adminForm.$error" ng-if='submitted'
         ng-messages-include="/assets/templates/form-messages.html"></div>

</div>
