@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/administrators.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/administrators.factory.js")"></script>
}

@breadcrumbs = {
<li class="active">{{ 'ADMINISTRATORS' | translate }}</li>
}

@common.main(title = "{{ 'ADMINISTRATORS' | translate }}", admins = admins, ngController="AdminController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
                <ul ng-if="errors != undefined">
                    <li ng-repeat="e in errors track by $index">{{ e }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="bottom-margin">
                <a class="btn btn-success btn-lg margin-right" href="/administrators/create"><i class="fa fa-plus-circle"></i> {{ 'CREATE_ADMINISTRATOR' | translate }}</a>
            </div>
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ 'NB_ADMINISTRATORS' | translate: {'nbAdministrators': admins.length } }}</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" ng-model="searchPattern" name="table_search" class="form-control pull-right" placeholder="{{ 'SEARCH' | translate }}">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding" ng-show="admins.length > 0">
                    <table class="table table-hover table-condensed small-top-margin">
                        <thead>
                            <tr>
                                <th>{{'LOGIN' | translate}}</th>
                                <th>{{'NAME' | translate}}</th>
                                <th>Superadmin</th>
                                <th>{{'ROLES' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="a in admins | filter: searchPattern">
                                <td>{{a.login}}</td>
                                <td>{{a.name}}</td>
                                <td>{{boolText(a.superAdmin)}}</td>
                                <td>{{commaSeparatedNames(a.roles)}}</td>
                                <td>
                                    <a href="/administrators/edit/{{a.id}}">
                                        <button type="button" class="btn btn-success" title="Modifier l'administrateur">
                                            <span class="fa fa-edit"></span>
                                        </button>
                                    </a>
                                    <button type="button" class="btn btn-danger" ng-click="deleteAdmin(a.id)" title="Supprimer l'administrateur">
                                        <span class="fa fa-trash-o"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
