@import model.AdministratorInterface
@import model.CombinedId
@(admins: AdministratorInterface, entityId: CombinedId)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/templates.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/users.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/userCreation.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/userForm.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/users.factory.js")"></script>
}

@breadcrumbs = {
    <li><a href="/entities?xivoId={{ entity.xivo.id }}">{{ entity.xivo.name }}</a></li>
    <li><a href="/users?entityId={{ entity.combinedId }}">{{ entity.displayName }}</a></li>
    <li class="active">{{ 'CREATE_USER' | translate }}</li>
}

@common.main(title = "{{ 'CREATE_USER' | translate }}", admins = admins, ngController="UserCreationController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    @* No template warning *@
    <div class="row" ng-if="templates.length == 0 && entity.isXivoEntity">
        <div class="col-md-12">
            <div class="callout callout-warning">
                <h4><i class="icon fa fa-warning"></i> {{ 'NO_TEMPLATE_CREATED' | translate }}</h4>
                <div class="pull-right">
                    <a href="/templates/create" class="btn btn-success">{{ 'CREATE_TEMPLATE' | translate }}</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row" ng-init="init('@entityId')">
        <div class="col-md-12">
            <div class="box box-primary">
                <form name="userForm" ng-submit="createUser()" ng-controller="UserFormController">
                    <div class="box-body">
                        @userForm()
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" id="create-user"
                            ng-disabled="userForm.$invalid || externalNumberError || internalNumberError"
                            data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'CREATE_USER_SUBMIT_PROGRESS' | translate}}"
                        >
                            {{ 'CREATE_USER_SUBMIT' | translate }}
                        </button>
                    </div>
                </form>
                <div class="overlay" ng-if="templates.length == 0 && entity.isXivoEntity">
                    <i class="fa fa-ban"></i>
                </div>
            </div>
        </div>
    </div>
}
