@import model.AdministratorInterface
@import model.Xivo._
@(admins: AdministratorInterface, pubKey: String)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/xivo.controller.js")"></script>
}

@breadcrumbs = {
    <li><a href="/xivo">{{ 'XIVOS' | translate }}</a></li>
    <li class="active">{{ 'CREATE_XIVO' | translate }}</li>
}

@common.main(title = "{{ 'CREATE_XIVO' | translate }}", admins = admins, ngController="XivoCreationController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form ng-submit="submitXivoCreation()">
                    <div class="box-body">
                            <div class="form-group">
                                <label>{{ 'PLEASE_AUTHORIZE_KEY' | translate }}</label>
                                <pre>@pubKey</pre>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{ 'NAME' | translate }} *</label>
                                        <input class="form-control" type="text" id="name" ng-model="xivo.name"
                                            ng-change="updateXivoContextName()" required maxlength="@{NameMaxLength}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="name">{{ 'CONTEXT_NAME' | translate }}</label>
                                    <input class="form-control" type="text" id="contextName" ng-model="xivo.contextName"
                                        required  maxlength="@{ContextNameMaxLength}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="host">{{ 'HOSTNAME' | translate }} *</label>
                                <input class="form-control" type="text" id="host" ng-model="xivo.host" required
                                    maxlength="@{HostMaxLength}" />
                            </div>
                            <div class="form-group" ng-if="xivoList.length > 0">
                                <label>Créer les contextes suivants :</label>
                                <ul class="list-unstyled">
                                    <li ng-repeat="x in xivoList">
                                        <input type="checkbox" checklist-model="xivo.linkedXivo" checklist-value="x.id">&nbsp;<b>{{x.name}}</b> ({{x.host}})
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary btn-block btn-lg" ng-click="xivo.configure = true" id="create-and-config-xivo"
                                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'CREATE_XIVO_SUBMIT_CONFIGURE_PROGRESS' | translate}}"
                                >
                                    {{ 'CREATE_XIVO_SUBMIT_CONFIGURE' | translate }}
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-default btn-block btn-lg" ng-click="xivo.configure = false" id="create-xivo-without-config"
                                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'CREATE_XIVO_SUBMIT_DONT_CONFIGURE_PROGRESS' | translate}}"
                                >
                                    {{ 'CREATE_XIVO_SUBMIT_DONT_CONFIGURE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="confirmModal">
        <div class="modal-header">
            <h3 class="modal-title">{{ 'XIVO_WARNING' | translate }}</h3>
        </div>
        <div class="modal-body">
            {{ 'XIVO_WILL_BE_STOPPED' | translate }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-outline" type="button" ng-click="cancel()">{{ 'XIVO_CANCEL_RESTART' | translate }}</button>
            <button class="btn btn-outline" type="button" ng-click="ok()">{{ 'XIVO_CONFIRM_RESTART' | translate }}</button>
        </div>
    </script>
}
