@import model.AdministratorInterface
@import model.Xivo._
@(admins: AdministratorInterface)(implicit r: Request[_])
@import model.Interval

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/xivo.controller.js")"></script>
}

@breadcrumbs = {
    <li><a href="/xivo">{{ 'PROXYS' | translate }}</a></li>
    <li class="active">{{ 'CREATE_PROXY' | translate }}</li>
}

@common.main(title = "{{ 'CREATE_PROXY' | translate }}", admins = admins, ngController="ProxyCreationController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form ng-submit="submitProxyCreation()">
                    <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">{{'NAME' | translate }} *</label>
                                        <input class="form-control" type="text" id="name" ng-model="proxy.name"
                                            ng-change="updateProxyContextName()" required maxlength="@{NameMaxLength}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="name">{{'CONTEXT_NAME' | translate }}</label>
                                    <input class="form-control" type="text" id="contextName" ng-model="proxy.contextName"
                                        required  maxlength="@{ContextNameMaxLength}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="host">{{ 'HOSTNAME' | translate }} *</label>
                                <input class="form-control" type="text" id="host" ng-model="proxy.host" required
                                    maxlength="@{HostMaxLength}" />
                            </div>
                            <h4 class="box-title">
                                {{ 'NB_RANGE' | translate }}
                            </h4>
                            <div class="form-inline">
                                <div class="form-group col-md-12" ng-repeat="i in proxy.intervals">
                                    <input class="form-control" type="text" ng-model="i.start" placeholder="{{ 'NB_RANGE_BEGIN' | translate }}"
                                            minlength="@{Interval.IntervalMinLength}" maxlength="@{Interval.IntervalMaxLengthForUI}"
                                            pattern="@{Interval.IntervalRegexForUI}" title="{{ 'DIGITS_ONLY' | translate }}"
                                            required/>
                                    <i class="fa fa-caret-right"></i>
                                    <input class="form-control" type="text" ng-model="i.end" placeholder="{{ 'NB_RANGE_END' | translate }}"
                                            minlength="@{Interval.IntervalMinLength}" maxlength="@{Interval.IntervalMaxLengthForUI}"
                                            pattern="@{Interval.IntervalRegexForUI}" title="{{ 'DIGITS_ONLY' | translate }}"
                                            required/>
                                    
                                    <label for="routingMode">{{ 'ROUTING_MODE' | translate }} *</label>
                                    <span class="dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="routingMode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ getModeName(i.routing_mode) | translate }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="routingMode">
                                            <li ng-repeat="mode in routingModes"><a href="#" ng-click="updateMode(i,mode)">{{ mode.name | translate }}</a></li>
                                        </ul>
                                    </span>
                                    <input class="form-control" ng-show="showDirectNumber(i)" type="text" ng-model="i.direct_number"
                                        placeholder="{{i.routing_mode == 'with_direct_number' ? 'DIRECT_NUMBER_PREFIX' : 'FIRST_DIRECT_NUMBER '| translate }}"
                                            maxlength="@{Interval.DirectNumberMaxLength}" pattern="@{Interval.DirectNumberRegex}"
                                            title="{{ 'DIGITS_ONLY' | translate }}" />
                                    <span ng-show="showLastDirectNumber(i)" >
                                            - <input class="form-control" type="text" ng-value="lastDirectNumber(i)" disabled>
                                    </span>
                                    <input class="form-control" type="text" ng-model="i.label" placeholder="{{ 'LABEL' | translate }}"
                                            maxlength="@{Interval.LabelMaxLength}" />
                                    <button type="button" class="btn btn-danger" ng-click="dropInterval($index)" ng-disabled="proxy.intervals.length <= 1"><i class="fa fa-trash-o"></i></button>
                                </div>
                            </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-md-offset-4">
                                <button type="button" class="btn btn-success btn-block" ng-click="addInterval()"><i class="fa fa-plus-circle"></i> {{ 'ADD_RANGE' | translate }}</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                   
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary btn-block btn-lg"
                                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'CREATE_PROXY_SUBMIT_DONT_CONFIGURE_PROGRESS' | translate}}"
                                >
                                    {{ 'CREATE_PROXY' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

}