@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/roles.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/administrators.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/administrators.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/directives/compare-to.directive.js")"></script>
}

@breadcrumbs = {
    <li><a href="/administrators">{{ 'ADMINISTRATORS' | translate }}</a></li>
    <li class="active">{{ 'CREATE_ADMINISTRATOR' | translate }}</li>
}

@common.main(title = "{{ 'CREATE_ADMINISTRATOR' | translate }}", admins = admins, ngController="AdminCreationController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
                <ul ng-if="errors != undefined">
                    <li ng-repeat="e in errors track by $index">{{ e }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <form name="adminForm" ng-submit="createAdmin(adminForm.$valid)" ng-controller="AdminFormController">
                        @adminForm()
                    </form>
                </div>
            </div>
        </div>
    </div>
}
