@import model.AdministratorInterface
@(admins: AdministratorInterface, xivoId: Long)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/entities.controller.js")"></script>
}

@breadcrumbs = {
    <li><a href="/entities?xivoId={{ xivo.id }}">{{ xivo.name }}</a></li>
    <li class="active">{{ 'CREATE_ENTITY' | translate }}</li>
}

@common.main(title = "{{ 'CREATE_ENTITY' | translate }}", admins = admins, ngController="EntityCreationController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-init="init(@xivoId)">
        <div class="col-md-12">
            <div class="box box-primary">
                <form name="formCreateEntity" ng-submit="createEntity(formCreateEntity.$valid)" ng-controller="EntityFormController">
                    <div class="box-body">
                        @entityForm()
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" id="submit-entity"
                            data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'CREATE_ENTITY_SUBMIT_PROGRESS' | translate}}"
                        >
                            {{ 'CREATE_ENTITY_SUBMIT' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
