@import model.AdministratorInterface
@(admins: AdministratorInterface, entityCombinedId: String)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/entities.controller.js")"></script>
}

@breadcrumbs = {
    <li><a href="/entities?xivoId={{ xivo.id }}">{{ xivo.name }}</a></li>
    <li class="active">{{ 'EDIT_ENTITY_NAME' | translate: {'entityName': entity.displayName } }}</li>
}

@common.main(title = "{{ 'EDIT_ENTITY' | translate }}", admins = admins, ngController="EntityEditionController", scripts = scripts)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-init="init('@entityCombinedId')">
        <div class="col-md-12">
            <div class="box box-primary"> 
                <form name="formEditEntity" ng-submit="editEntity(formEditEntity.$valid)" ng-controller="EntityFormController">
                    <div class="box-body">
                        @entityForm(true)
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" id="submit-entity"
                            data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'EDIT_ENTITY_SUBMIT_PROGRESS' | translate}}"
                        >
                            {{ 'EDIT_ENTITY_SUBMIT' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
