@import model.AdministratorInterface
@(admins: AdministratorInterface, userId: Long, displayName: String)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/templates.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/users.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/userEdition.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/userForm.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/users.factory.js")"></script>
}

@breadcrumbs = {
<li><a href="/entities?xivoId={{ entity.xivo.id }}">{{ entity.xivo.name }}</a></li>
<li><a href="/users?entityId={{ entity.combinedId }}">{{ entity.displayName }}</a></li>
<li class="active">{{ 'EDIT_USER_NAME' | translate: {'userName': user.firstName + ' ' + user.lastName } }}</li>
}

@common.main(title = "{{ 'EDIT_USER_NAME' | translate: {'userName': '" + displayName + "' } }}", admins = admins, ngController="UserEditionController", scripts = scripts)(breadcrumbs) {
@* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <div class="row" ng-init="init('@userId')">
        <div class="col-md-12">
            <div class="box box-primary">
                <form name="userForm" ng-submit="editUser()" ng-controller="UserFormController">
                    <div class="box-body">
                        @userForm(true)
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary btn-block btn-lg" id="submit-user"
                            ng-disabled="userForm.$invalid || externalNumberError"
                            data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ 'SAVE_USER_SUBMIT_PROGRESS' | translate}}"
                        >
                            {{ 'SAVE_USER_SUBMIT' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
