@import model.Entity
@import model.Interval
@(editionMode: Boolean=false)
@import model.TemplateProperties._
<div class="form-group">
    <label for="xivo">{{ 'XIVO' | translate }} *</label>
    <input class="form-control" type="text" id="xivo" ng-model="xivo.name" readonly/>
</div>
<div class="form-group">
    <label for="name">{{ 'NAME' | translate }} *</label>
    <input class="form-control" type="text" id="name" ng-model="entity.name"
           minlength="@{Entity.NameMinLength}" maxlength="@{Entity.NameMaxLength}" pattern="@{Entity.NameRegex}"
           title="{{ 'LOWERCASE_LETTERS_AND_DIGITS_ONLY' | translate }}" required @if(editionMode){readonly} />
</div>
<div class="form-group">
    <label for="displayName">{{ 'DISPLAY_NAME' | translate }} *</label>
    <input class="form-control" type="text" id="displayName" ng-model="entity.displayName"
           maxlength="@{Entity.DisplayNameMaxLength}" required/>
</div>

<div class="form-group" ng-if= "isXivoEntity">

    <label for="presentedNumber">{{ 'OUTGOING_NB' | translate }} *</label>
    <input class="form-control" type="text" id="presentedNumber" ng-model="entity.presentedNumber"
           maxlength="@{Entity.PresentedNumberMaxLength}" required/>
</div>

<div class="form-group" ng-if="isXivoEntity">
    <label>{{ 'MEDIA_SERVER' | translate }} *</label>
    <div class="dropdown">
        @if(editionMode) {
            <button class="btn btn-default dropdown-toggle" type="button" id="mediaServer" data-toggle="dropdown" 
            aria-haspopup="true" aria-expanded="true" disabled>
                {{preSelectedMds.displayName}}
                <span class="caret"></span>
            </button>
        }
        @if(!editionMode) {
            <button class="btn btn-default dropdown-toggle" type="button" id="mediaServer" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
                {{preSelectedMds.displayName}}
                <span class="caret"></span>
            </button>

        <ul class="dropdown-menu" aria-labelledby="mediaServer">
            <li ng-repeat="mds in mdsList">
                <a href="#" ng-click="entity.mdsName=mds.name; setPreselectedMds(mds)">{{mds.displayName}}</a>
            </li>
        </ul>
        }
    </div>
</div>

<h4 class="box-title">
    {{ 'NB_RANGE' | translate }}
</h4>
<div class="form-inline">
    <div class="form-group col-md-12" ng-repeat="i in entity.intervals">
        <input class="form-control" type="text" ng-model="i.start" placeholder="{{ 'NB_RANGE_BEGIN' | translate }}"
               minlength="@{Interval.IntervalMinLength}" maxlength="@{Interval.IntervalMaxLengthForUI}"
               pattern="@{Interval.IntervalRegexForUI}" title="{{ 'DIGITS_ONLY' | translate }}"
               required/>
        <i class="fa fa-caret-right"></i>
        <input class="form-control" type="text" ng-model="i.end" placeholder="{{ 'NB_RANGE_END' | translate }}"
               minlength="@{Interval.IntervalMinLength}" maxlength="@{Interval.IntervalMaxLengthForUI}"
               pattern="@{Interval.IntervalRegexForUI}" title="{{ 'DIGITS_ONLY' | translate }}"
               required/>
        <label for="routingMode">{{ 'ROUTING_MODE' | translate }} *</label>
        <span class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="routingMode" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ getModeName(i.routing_mode) | translate }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="routingMode">
                <li ng-repeat="mode in routingModes"><a href="#" ng-click="updateMode(i,mode)">{{ mode.name | translate }}</a></li>
            </ul>
        </span>
        <input class="form-control" ng-show="showDirectNumber(i)" type="text" ng-model="i.direct_number"
           placeholder="{{ i.routing_mode == 'with_direct_number' ? 'DIRECT_NUMBER_PREFIX' : 'FIRST_DIRECT_NUMBER '| translate }}"
               maxlength="@{Interval.DirectNumberMaxLength}" pattern="@{Interval.DirectNumberRegex}"
               title="{{ 'DIGITS_ONLY' | translate }}" />
        <span ng-show="showLastDirectNumber(i)" >
             - <input class="form-control" type="text" ng-value="lastDirectNumber(i)" disabled>
        </span>
        <input class="form-control" type="text" ng-model="i.label" placeholder="{{ 'LABEL' | translate }}"
               maxlength="@{Interval.LabelMaxLength}" />
        <button type="button" class="btn btn-danger" ng-click="dropInterval($index)" ng-disabled="entity.intervals.length <= 1"><i class="fa fa-trash-o"></i></button>
    </div>
</div>
<div class="form-group col-md-4 col-md-offset-4">
    <button type="button" class="btn btn-success btn-block" ng-click="addInterval()"><i class="fa fa-plus-circle"></i> {{ 'ADD_RANGE' | translate }}</button>
</div>
