@import model.AdministratorInterface
@(admins: AdministratorInterface, xivoId: Long, xivoName: String)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/roles.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/entities.controller.js")"></script>
}

@breadcrumbs = {
    <li class="active">{{ xivo.name }}</li>
}

@common.main(title = xivoName, admins = admins, ngController="EntitiesController", scripts = scripts)(breadcrumbs) {
    <div ng-init="init('@xivoId')">
        @* Errors *@
        <div class="row" ng-if="error != undefined">
            <div class="col-md-12">
                <div class="callout callout-danger">
                    <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                    <p>{{ error }}</p>
                    <ul ng-if="errors != undefined">
                        <li ng-repeat="e in errors track by $index">{{ e }}</li>
                    </ul>
                </div>
            </div>
        </div>

        @* Add entity and CSV upload *@
        <div class="row" ng-if="!xivo.isProxy">
            @if(admins.isSuperAdmin(r.session.get("username").get)) {
            <div class="col-md-4 col-xs-12 bottom-margin">
                <a class="btn btn-success btn-lg btn-block" href="/entities/create?xivoId={{ xivo.id }}"><i class="fa fa-plus-circle"></i> {{ 'CREATE_ENTITY' | translate }}</a>
            </div>
            }
        </div>

        @* Entities list *@
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'NB_ENTITIES_SLOTS' | translate: {'nbEntities': entities.length} }}</h3>
                        <h3 class="box-title" ng-if="!xivo.isProxy">{{ 'NB_ENTITIES_SLOTS_REMAINING' | translate: {'nbSlots': xivo.remainingSlots} }}</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" ng-model="searchPattern" name="table_search" class="form-control pull-right" placeholder="{{ 'SEARCH' | translate }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-body table-responsive no-padding" ng-show="entities.length > 0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'NAME' | translate }}</th>
                                <th>{{ 'DISPLAY_NAME' | translate }}</th>
                                <th>{{ 'NB_RANGE' | translate }}</th>
                                <th>{{ 'OUTGOING_NB' | translate }}</th>
                                <th>{{ 'ACTIONS' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entity in entities | filter: searchPattern">
                                <td><a href="/users?entityId={{ entity.combinedId }}">{{ entity.name }}</a></td>
                                <td>{{ entity.displayName }}</td>
                                <td>
                                    <span class="label label-success" ng-repeat="i in entity.intervals">{{i.start}} - {{i.end}}</span>
                                </td>
                                <td>{{ entity.presentedNumber }}</td>
                                <td>
                                    @if(admins.isSuperAdmin(r.session.get("username").get)) {
                                        <a href="/entities/edit/{{ entity.combinedId }}" class="btn btn-warning" title="{{ 'EDIT_ENTITY' | translate }}">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger" ng-click="deleteEntity(entity.combinedId)" title="{{ 'DELETE_ENTITY' | translate }}">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    } else {
                                        <a href="#" class="btn btn-warning" ng-class="{'btn-is-disabled': true}" title="{{ 'EDIT_ENTITY' | translate }}">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <button type="button" class="btn btn-danger" title="{{ 'DELETE_ENTITY' | translate }}" ng-disabled="true">
                                            <span class="fa fa-trash-o"></span>
                                        </button>
                                    }
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
}
