@()(implicit r: Request[_])
<html ng-app="login">
@common.head("Login")
<body ng-controller="LoginController">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/login.js")"></script>
    <div class="container big-top-margin">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
              <div class="panel-heading">Administration centralisée</div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-4">
                        <img src="@routes.Assets.at("images/avencallbox.jpg")" alt="" class="loginlogo img-rounded">
                    </div>
                </div>
                <form ng-submit="doLogin()">
                     <div class="alert alert-danger" ng-if="error != undefined">
                         {{error}}
                     </div>
                     <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input class="form-control" type="text" placeholder="Utilisateur" ng-model="login" required>
                           </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input class="form-control"  type="password" placeholder="Mot de passe" ng-model="password" required>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-6 col-sm-offset-5">
                            <div class="form-group">
                                <button class="form-control btn btn-primary"  type="submit" id="loginbutton">
                                    <span class="glyphicon glyphicon-ok"></span>&nbsp;Se connecter
                                </button>
                            </div>
                        </div>
                     </div>
                </form>
               </div>
            </div>
        </div>
        </div>
    </div>
    @common.footer()
</body>
</html>
