@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/roles.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/users.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/userSearch.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/users.factory.js")"></script>
}

@breadcrumbs = {
    <li class="active">{{ 'SEARCH_USERS' | translate }}</li>
}

@common.main(title = "{{ 'SEARCH_USERS' | translate }}", admins = admins, ngController="UsersSearchController", scripts = scripts)(breadcrumbs) {
    <div ng-init="init('')">
        @* Errors *@
        <div class="row" ng-if="error != undefined">
            <div class="col-md-12">
                <div class="callout callout-danger">
                    <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                    <p>{{ error }}</p>
                    <ul ng-if="errors != undefined">
                        <li ng-repeat="e in errors track by $index">{{ e }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- users list -->
        <div class="row">
            <div class="col-md-12">
                <div class="bottom-margin">

                    <div class="bottom-margin">
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" ng-model="searchPattern" name="table_search" class="form-control pull-right" placeholder="{{ 'SEARCH' | translate }}">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default" ng-click="init(searchPattern)"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'NB_USERS' | translate: {'nbUsers': users.length } }}</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding" ng-show="users.length > 0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'XIVO' | translate }}</th>
                                <th>{{ 'ENTITY' | translate }}</th>
                                <th>{{ 'FIRST_NAME' | translate }}</th>
                                <th>{{ 'LAST_NAME' | translate }}</th>
                                <th>{{ 'INTERNAL_NUMBER' | translate }}</th>
                                <th>{{ 'EXTERNAL_NUMBER' | translate }}</th>
                                <th>{{ 'PROVISIONING_NUMBER' | translate }}</th>
                                <th>{{ 'ACTIONS' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="u in users | orderBy: ['lastName','firstName','internalNumber']">
                                <td><a href="/entities?xivoId={{ u.entity.xivo.id }}">{{u.entity.xivo.name}}</a></td>
                                <td><a href="/users?entityId={{ u.entity.combinedId }}">{{u.entity.displayName}}</a></td>
                                <td>{{u.firstName}}</td>
                                <td>{{u.lastName}}</td>
                                <td>{{u.internalNumber}}</td>
                                <td>{{u.externalNumber}}</td>
                                <td>{{u.provisioningNumber}}</td>
                                <td>
                                    <a href="{{getEditRoute(u)}}" class="btn btn-warning" ng-if="editButtonIsEnabled(u)" title="{{ 'EDIT_USER' | translate }}">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <button ng-hide="u.entity.xivo.isProxy" type="button" class="btn btn-warning" ng-click="!u.inDisconnectDevice && disconnectDevice(u)" title="{{ 'DISASSOCIATE_DEVICE' | translate }}" ng-disabled="!getOperations(u.entity).deleting">
                                        <i class="fa" ng-class="{ 'fa-question': u.confirmDisconnectDevice && !u.inDisconnectDevice, 'fa-remove': !u.confirmDisconnectDevice && !u.inDisconnectDevice, 'fa-spinner fa-spin': u.inDisconnectDevice }"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="!u.inDeletion && deleteUser(u)" title="{{ 'DELETE_USER' | translate }}" ng-disabled="!getOperations(u.entity).deleting">
                                        <i class="fa" ng-class="{ 'fa-question': u.confirmDeletion && !u.inDeletion, 'fa-trash-o': !u.inDeletion && !u.confirmDeletion, 'fa-spinner fa-spin': u.inDeletion }"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
}
