@(editionMode: Boolean=false)
@import model.VoicemailSettings
@import model.User
@import model.Entity
@import model.TemplateProperties.CustomCallerIdMaxLength

<div class="form-group" ng-if="entity.isXivoEntity">
    <label for="entityIdLabel">{{ 'ENTITY' | translate }} *</label>
    <input class="form-control" type="text" id="entityIdLabel" readonly value="{{ entity.displayName }} ({{ entity.xivo.name }})" />
</div>

@if(!editionMode) {
<div class="row" ng-if="entity.isXivoEntity">
    <div class="col-sm-6 form-group">
        <label>{{ 'TEMPLATE' | translate }} *</label>
        <select class="form-control" ng-model="user.templateId" ng-options="e.id as e.name for e in templates" ng-change="updateFromModel()" required>
            <option value="" disabled selected>{{ 'SELECT_TEMPLATE' | translate }}</option>
        </select>
        <dl class="dl-horizontal help-block" ng-show="user.templateId">
            <dt>{{ 'PEER_SIP' | translate }}</dt><dd>{{ template.peerSipName }}</dd>
            <dt>{{ 'RING_TIME' | translate }}</dt><dd>{{ template.ringingTime }}</dd>
            <div ng-if="template.routedInbound"><dt>{{ 'INCOMING_NUMBER' | translate }}</dt><dd>{{ template.routedInboundPrefix }}</dd></div>
            <dt>{{'MEDIA_SERVER' | translate}}</dt><dd>{{mds.displayName}} ({{mds.name}})</dd>
            <dt>{{ 'CALLER_ID' | translate }}</dt><dd>{{ template.callerIdMode }}</dd>
            <dt>{{ 'VOICEMAIL' | translate }}</dt><dd><i class="fa fa-{{ template.voiceMailEnabled ? 'check' : 'times' }}"></i></dd>
        </dl>
    </div>
</div>
}
<div class="row">
    <div class="col-sm-6 form-group">
        <label for="firstName">{{ 'FIRST_NAME' | translate }} *</label>
        <input class="form-control" type="text" id="firstName" ng-model="user.firstName" required
               maxlength="@{User.FirstNameMaxLength}">
    </div>
    <div class="col-sm-6 from-group">
        <label for="lastName">{{ 'LAST_NAME' | translate }} *</label>
        <input class="form-control" type="text" id="lastName" ng-model="user.lastName" required
            maxlength="@{User.LastNameMaxLength}">
    </div>
</div>

<div class="row">
    <div class="col-sm-6 form-group" ng-if="entity.isXivoEntity">
        <div class="form-group">
            <label class="radio">{{ 'PEER_SIP' | translate }}</label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="user.peerSipName" value="auto">
                Auto
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="user.peerSipName" value="webrtc">
                WebRTC
            </label>
            <label class="radio-inline">
                <input type="radio" name="radioPeer" ng-model="user.peerSipName" value="ua">
                {{ 'UA' | translate }}
            </label>
        </div>
    </div>

    <div style="margin-top: 10px" @if(!editionMode) {ng-show="templateIsDefined() || !entity.isXivoEntity"} class="col-sm-2 form-group">
        <label for="interval">{{'INTERVAL' | translate }} *</label>
        <select on-select="updateAvailableNumbers(true)" class="form-control" ng-model="user.intervalId" id="interval" ng-change="updateAvailableNumbers(true)"
        ng-options="interval.id as interval.label + ' (' + interval.start + '->' + interval.end + ')' for interval in entity.intervals" @if(!editionMode) {required}>
            <option value="" disabled selected>{{ 'SELECT_INTERVAL' | translate }}</option>
        </select>
    </div>
    

    <div style="margin-top: 10px" @if(!editionMode) {ng-show="templateIsDefined() || !entity.isXivoEntity"} class="col-sm-2 form-group">
        <div class="form-group" ng-class="internalNumberError ? ['has-error'] : []">
            <label for="internalNumber">
                <i class="fa fa-times-circle-o" ng-show="internalNumberError"></i>
                {{'INTERNAL_NUMBER' | translate }} *
            </label>
            <ui-select required id="internalNumber" ng-disabled="!showInternalNumber()" ng-model="user.internalNumber"
            on-select="updateExternalNumberForInternalNumber()" name="availableNumbers">
                <ui-select-match>
                    <span ng-bind="user.internalNumber"></span>
                </ui-select-match>
                <ui-select-choices repeat="num in (container.availableNumbers | filter: $select.search | limitTo: 10)">
                    <span ng-bind="num"></span>
                </ui-select-choices>
                <ui-select-no-choice>
                    <span class="text-red">
                        {{'UNKNOWN_NUMBER' | translate}}
                    </span>
                </ui-select-no-choice>
            </ui-select>
        </div>
    </div>
    


    <div style="margin-top: 10px" class="col-sm-2" ng-if="entity.isXivoEntity">
        <div class="form-group">
            <label>{{ 'RING_TIME' | translate }}</label>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="ringingTime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{ringingTimeLabel}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="ringingTime">
                    <li>
                        <a href="#" ng-click="selectRingingTime(0)">{{'UNLIMITED' | translate}} {{'SECONDS' | translate}}</a>
                    </li>
                    <li ng-repeat="time in ringTimes">
                        <a href="#" ng-click="selectRingingTime(time)">{{time}} {{'SECONDS' | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-if="entity.isXivoEntity">
    <div class="col-sm-6 form-group">
        <label for="email">{{ 'EMAIL' | translate }} <span ng-show="mailRequired()">*</span></label>
        <input class="form-control" type="email" id="email" ng-model="user.mail" ng-required="mailRequired()"
               maxlength="@{User.MailMaxLength}" >
    </div>
@if(editionMode) {
    <div class="col-sm-6 form-group">
        <div class="box box-default box-solid">
            <div class="box-header">{{ 'VOICEMAIL' | translate }}</div>
            <div class="box-body">
                <div class="form-group">
                    <label>
                        <input type="checkbox" ng-model="user.voicemail.enabled">
                        {{ 'HAS_VOICEMAIL' | translate }}
                    </label>
                </div>
                <div ng-show="user.voicemail.enabled">
                    <div class="form-group">
                        <label class="radio">{{ 'VOICEMAIL_NUMBER' | translate }}</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="user.voicemail.numberMode"
                                   value="short_number" ng-required="numberModeRequired()">
                            {{ 'LINE_NUMBER' | translate }}
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="user.voicemail.numberMode" value="custom"
                                   ng-required="numberModeRequired()">
                            {{ 'CUSTOM' | translate }}
                            <input type="text" class="form-inline" ng-model="user.voicemail.customNumber"
                                   ng-show="customNumberRequired()" ng-required="customNumberRequired()"
                                   maxlength="@{VoicemailSettings.CustomNumberMaxLength}">
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="user.voicemail.sendEmail">
                            {{ 'VOICE_TO_MAIL' | translate }}
                        </label>
                    </div>
                    <div class="form-group" ng-show="user.voicemail.sendEmail">
                        <label>
                            <input type="checkbox" ng-model="user.voicemail.deleteAfterNotif">
                            {{ 'VOICEMAIL_DELETE_MESSAGE' | translate }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group" ng-class="externalNumberError ? ['has-error'] : []" ng-show="showExternalNumber()">
            <label for="externalNumber">{{ 'EXTERNAL_NUMBER' | translate }} {{ externalNumberFromTo() }} *</label>
            <input class="form-control" name="externalNumber" type="text" id="externalNumber"
                    ng-model="user.externalNumber" ng-change="checkExternalNumber()"
                    maxlength="@{User.ExternalNumberMaxLength}" ng-pattern="handleExternalNumberPattern" ng-required="showExternalNumber()">
            <span class="help-block" ng-show="externalNumberError">{{ externalNumberErrMsg }}</span>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-if="entity.isXivoEntity">
    <div class="panel-heading">{{ 'CALLER_ID' | translate }}</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="radio">
                            <label>
                                <input type="radio" name="callerIdMode" ng-model="user.callerIdMode" value="incomingNo">
                                {{ 'INCOMING_NUMBER' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="callerIdMode" ng-model="user.callerIdMode" value="anonymous">
                                {{ 'ANONYMOUS' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="callerIdMode" ng-model="user.callerIdMode" value="custom">
                                {{ 'CUSTOM' | translate }}
                            </label>
                            <input type="text" class="form-control" ng-model="user.customCallerId" name="customCallerId"
                                ng-show="user.callerIdMode=='custom'" maxlength="@{CustomCallerIdMaxLength}">
                        </div>
                        <div ng-messages="templateCreationForm.customCallerId.$error" ng-show="templateCreationForm.customCallerId.$touched"
                            ng-messages-include="/assets/templates/form-messages.html">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="row" ng-if="entity.isXivoEntity">
    <div class="col-md-12">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h4 class="box-title">{{ 'CTI_CREDENTIALS' | translate }}</h4>
            </div>
            <div class="box-body">
                <div class="col-sm-6 form-group" ng-class="{ 'has-error': userForm.ctiLogin.$error.pattern }">
                    <label for="ctiLogin" ng-if="!ctiRequired()">{{ 'CTI_LOGIN' | translate }}</label>
                    <label for="ctiLogin" ng-if="ctiRequired()">{{ 'CTI_LOGIN' | translate }} *</label>
                    <input name="ctiLogin" class="form-control" type="text" id="ctiLogin" ng-model="user.ctiLogin"
                           maxlength="@{User.CtiLoginMaxLength}" ng-pattern="ctiLoginRegex" ng-required="ctiRequired()">
                    <div ng-messages="userForm.ctiLogin.$error" ng-show="userForm.ctiLogin.$touched">
                        <div ng-message="pattern">{{ 'CTI_LOGIN_PATTERN_ERROR' | translate }}</div>
                    </div>
                </div>
                <div class="col-sm-6 form-group" ng-class="{ 'has-error': userForm.ctiPassword.$error.pattern }">
                    <label for="ctiPassword" ng-if="!ctiRequired()">{{ 'CTI_PASSWORD' | translate }}</label>
                    <label for="ctiPassword" ng-if="ctiRequired()">{{ 'CTI_PASSWORD' | translate }} *</label>
                    <div class="input-group">
                        <input name="ctiPassword" class="form-control" type="text" id="ctiPassword" ng-model="user.ctiPassword"
                               maxlength="@{User.CtiPasswordMaxLength}" ng-pattern="ctiPasswordRegex" ng-required="ctiRequired()">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="renewPassword()"><i class="fa fa-random"></i></button>
                       </span>
                    </div>

                    <div ng-messages="userForm.ctiPassword.$error" ng-show="userForm.ctiPassword.$touched">
                        <div ng-message="pattern">{{ 'CTI_PASSWORD_PATTERN_ERROR' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
