@import model.AdministratorInterface
@import model.CombinedId
@(admins: AdministratorInterface, entityId: CombinedId, entityName: String)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/roles.factory.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/users.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/users.factory.js")"></script>
}

@breadcrumbs = {
    <li><a href="/entities?xivoId={{ xivo.id }}">{{ xivo.name }}</a></li>
    <li class="active">{{ entity.displayName }}</li>
}

@common.main(title = entityName, admins = admins, ngController="UsersController", scripts = scripts)(breadcrumbs) {
    <div ng-init="init('@entityId')">
        @* Errors *@
        <div class="row" ng-if="error != undefined">
            <div class="col-md-12">
                <div class="callout callout-danger">
                    <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                    <p>{{ error }}</p>
                    <ul ng-if="errors != undefined">
                        <li ng-repeat="e in errors track by $index">{{ e }}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row close-user-alert" ng-if="provisioning && entity.isXivoEntity">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" >
                    <button type="button" class="close close-user-alert" data-dismiss="alert" aria-label="close">&times;</button>
                    <i class="icon fa fa-check-circle-o"></i> 
                    {{'USER_SUCCESSFULLY_CREATED' | translate:provisioning}}
                </div>
            </div>
        </div>

        <div class="row close-user-alert" ng-if="provisioning && !entity.isXivoEntity">
            <div class="col-md-12">
                <div class="alert alert-success alert-dismissible" >
                    <button type="button" class="close close-user-alert" data-dismiss="alert" aria-label="close">&times;</button>
                    <i class="icon fa fa-check-circle-o"></i> 
                    {{'PROXY_USER_SUCCESSFULLY_CREATED' | translate}}
                </div>
            </div>
        </div>

        <!-- users list -->
        <div class="row">
            <div class="col-md-12">
                <div class="bottom-margin">
                    <a class="btn btn-success btn-lg margin-right" href="/users/create?entityId={{ entity.combinedId }}" ng-show="canCreate"><i class="fa fa-user-plus"></i> {{ 'CREATE_USER' | translate }}</a>
                    @if(admins.isSuperAdmin(r.session.get("username").get)) {
                        <a class="btn btn-warning btn-lg" href="/entities/edit/{{ entity.combinedId }}" ng-show="canEdit"><i class="fa fa-wrench"></i> {{ 'EDIT_ENTITY' | translate }}</a>
                    }
                </div>
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">{{ 'NB_USERS' | translate: {'nbUsers': users.length } }}</h3>
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" ng-model="searchPattern" name="table_search" class="form-control pull-right" placeholder="{{ 'SEARCH' | translate }}">

                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding" ng-show="users.length > 0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>{{ 'FIRST_NAME' | translate }}</th>
                                <th>{{ 'LAST_NAME' | translate }}</th>
                                <th>{{ 'INTERNAL_NUMBER' | translate }}</th>
                                <th>{{ 'EXTERNAL_NUMBER' | translate }}</th>
                                <th ng-show="entity.isXivoEntity">{{ 'PROVISIONING_NUMBER' | translate }}</th>
                                <th>{{ 'ACTIONS' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="u in users | filter: searchPattern | orderBy: ['lastName','firstName','internalNumber']">
                                <td>{{u.firstName}}</td>
                                <td>{{u.lastName}}</td>
                                <td>{{u.internalNumber}}</td>
                                <td>{{u.externalNumber}}</td>
                                <td ng-show="entity.isXivoEntity">{{u.provisioningNumber}}</td>
                                <td>
                                    <a ng-href="{{getEditRoute(u)}}" class="btn btn-warning" ng-if="editButtonIsEnabled(u)" title="{{ 'EDIT_USER' | translate }}">
                                        <i class="fa fa-wrench"></i>
                                    </a>
                                    <button ng-show="entity.isXivoEntity" type="button" class="btn btn-warning" ng-click="!u.inDisconnectDevice && disconnectDevice(u)" title="{{ 'DISASSOCIATE_DEVICE' | translate }}" ng-disabled="!canEdit">
                                        <i class="fa" ng-class="{ 'fa-question': u.confirmDisconnectDevice && !u.inDisconnectDevice, 'fa-remove': !u.confirmDisconnectDevice && !u.inDisconnectDevice, 'fa-spinner fa-spin': u.inDisconnectDevice }"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" ng-click="!u.inDeletion && deleteUser(u)" title="{{ 'DELETE_USER' | translate }}" ng-disabled="!canDelete">
                                        <i class="fa" ng-class="{ 'fa-question': u.confirmDeletion && !u.inDeletion, 'fa-trash-o': !u.inDeletion && !u.confirmDeletion, 'fa-spinner fa-spin': u.inDeletion }"></i>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </div>
}
