@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/validation.controller.js")"></script>
}

@breadcrumbs = {
    <li class="active">{{ 'VALIDATION' | translate }}</li>
}

@common.main(title = "{{ 'VALIDATION' | translate }}", admins = admins, ngController="ValidationController", scripts = scripts)(breadcrumbs) {
    <a href="/api/1.0/validation/missingRoutes" class="btn btn-app">
        <i class="fa fa-chain-broken"></i> {{'GET_USERS_WITH_MISSING_ROUTES' | translate}}
    </a>
}
