@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit r: Request[_])

@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/xivo.controller.js")"></script>
}

@breadcrumbs = {
    <li class="active">{{ 'XIVOS_PROXYS' | translate }}</li>
}

@common.main(title = "{{ 'XIVOS' | translate }}", admins = admins, ngController="XivoController", scripts = scripts)(breadcrumbs) {
    <div class="row">
        <div class="col-md-12 bottom-margin">
            <a href="/xivo/create" class="btn btn-lg btn-success"><i class="fa fa-plus-circle"></i> {{ 'CREATE_XIVO' | translate }}</a>
            <a href="/proxy/create" class="btn btn-lg btn-success"><i class="fa fa-plus-circle"></i> {{ 'CREATE_PROXY' | translate }}</a>
            <button type="button" class="btn btn-lg btn-danger" ng-click="synchronizeConfigFiles()"><i class="fa fa-refresh" ng-class="rotateIcon"></i> {{ 'SYNC_CONFIG_FILES' | translate }}</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{{ 'NB_XIVOS_CONFIGURED' | translate: {"nbXivos": xivoList.length } }}</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" ng-model="searchPattern" name="table_search" class="form-control pull-right" placeholder="{{ 'SEARCH' | translate }}">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" ng-show="xivoList.length > 0">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'NAME' | translate }}</th>
                            <th>{{ 'CONTEXT_NAME' | translate }}</th>
                            <th>{{ 'HOSTNAME' | translate }}</th>
                            <th>{{ 'REMAINING_SLOTS' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="xivo in xivoList | filter: searchPattern | orderBy: 'name'">
                            <td><a href="/entities?xivoId={{ xivo.id }}">{{xivo.name}}</a></td>
                            <td>{{xivo.contextName}}</td>
                            <td>{{xivo.host}}</td>
                            <td>{{xivo.isProxy ? '-' : xivo.remainingSlots}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
}
