/*
 * Skin: XiVO
 * ----------
 */
.skin-xivo .main-header .navbar {
  background-color: #E77D39;
}
.skin-xivo .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-xivo .main-header .navbar .nav > li > a:hover,
.skin-xivo .main-header .navbar .nav > li > a:active,
.skin-xivo .main-header .navbar .nav > li > a:focus,
.skin-xivo .main-header .navbar .nav .open > a,
.skin-xivo .main-header .navbar .nav .open > a:hover,
.skin-xivo .main-header .navbar .nav .open > a:focus,
.skin-xivo .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-xivo .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-xivo .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-xivo .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-xivo .main-header .navbar .sidebar-toggle:hover {
  background-color: #cf7033;
}
@media (max-width: 767px) {
  .skin-xivo .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-xivo .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-xivo .main-header .navbar .dropdown-menu li a:hover {
    background: #cf7033;
  }
}
.skin-xivo .main-header .logo {
  background-color: #cf7033;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-xivo .main-header .logo:hover {
  background-color: #E77D39;
}
.skin-xivo .main-header li.user-header {
  background-color: #E77D39;
}
.skin-xivo .content-header {
  background: transparent;
}
.skin-xivo .wrapper,
.skin-xivo .main-sidebar,
.skin-xivo .left-side {
  background-color: #2C2927;
}
.skin-xivo .user-panel > .info,
.skin-xivo .user-panel > .info > a {
  color: #fff;
}
.skin-xivo .sidebar-menu > li.header {
  color: #fff;
  background: #2C2927;
}
.skin-xivo .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-xivo .sidebar-menu > li:hover > a,
.skin-xivo .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #272423;
  border-left-color: #E77D39;
}
.skin-xivo .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #58524F;
}
.skin-xivo .sidebar a {
  color: #E8E4E2;
}
.skin-xivo .sidebar a:hover {
  text-decoration: none;
}
.skin-xivo .treeview-menu > li > a {
  color: #E8E4E2;
}
.skin-xivo .treeview-menu > li.active > a,
.skin-xivo .treeview-menu > li > a:hover {
  color: #ffffff;
}
.skin-xivo .sidebar-form {
  border-radius: 3px;
  border: 1px solid #374850;
  margin: 10px 10px;
}
.skin-xivo .sidebar-form input[type="text"],
.skin-xivo .sidebar-form .btn {
  box-shadow: none;
  background-color: #374850;
  border: 1px solid transparent;
  height: 35px;
}
.skin-xivo .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-xivo .sidebar-form input[type="text"]:focus,
.skin-xivo .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-xivo .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-xivo .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
.skin-xivo.layout-top-nav .main-header > .logo {
  background-color: #E77D39;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-xivo.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}

.skin-xivo .box.box-primary {
  border-top-color: #E77D39;
}

.form-control:focus {
  border-color: #E77D39;
  box-shadow: none;
}

.btn-primary {
  background-color: #E77D39 !important;
  border-color: #cf7033;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #cf7033 !important;
  border-color: #cf7033;
}

.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus {
  background-color: #aaa;
  border-color: #777;
}

.btn-is-disabled {
  pointer-events: none;
  opacity: 0.65;
  cursor: not-allowed;
}

.content-wrapper,
.right-side {
  background-color: #F6F4F2;
}

a {
    color: #E77D39;
}

a:hover,
a:active,
a:focus {
  color: #eb9760;
}

a.disabled {
  cursor: not-allowed;
}

a.in-progress {
  cursor: progress;
}

.bottom-margin {
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 10px;
}

pre {
  white-space: pre-wrap;
}

.callout a.btn {
  text-decoration: none;
}

.ui-select-multiple.ui-select-bootstrap {
  min-height: 34px;
}

.ui-select-bootstrap .ui-select-choices-row.active>a {
  background-color: #E77D39;
}

.main-sidebar .sidebar {
    max-height: 85vh;
    /* max-height: 200px; */
    overflow-y: auto;
}

button.close-user-alert {
  color: white !important;
  opacity: 1 !important;
}

.btn-default {
  border-color: #d2d6de;
}

.btn[disabled], .btn[disabled]:hover {
  background-color: #eee;
}

.btn-default:hover {
  border-color: #E77D39;
}

.btn-default-focus {
  box-shadow: none;
}

.dropdown .form-control:focus {
 border-color: #d2d6de;
}


