@import model.AdministratorInterface
@(admins: AdministratorInterface, action: String, inner: Html)(implicit r: Request[_])


@scripts = {
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/role/roles.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers/role/roleAction.controller.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services/roles.factory.js")"></script>
}

@stylesheets = {
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/angular-ui-tree/angular-ui-tree.css")"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/pages/roles.css")">
}
@breadcrumbs = {
    <li><a href="/roles">{{ 'ROLES' | translate }}</a></li>
    <li class="active">{{ '@(action)_ROLE' | translate }}</li>
}

@common.main(title = "{{ 'ROLES' | translate }}", admins = admins, ngController="RoleAction", scripts = scripts,
                stylesheets = stylesheets)(breadcrumbs) {
    @* Errors *@
    <div class="row" ng-if="error != undefined">
        <div class="col-md-12">
            <div class="callout callout-danger">
                <h4><i class="icon fa fa-warning"></i> {{ 'ERROR_OCCURED' | translate }}</h4>
                <p>{{ error }}</p>
                <ul ng-if="errors != undefined">
                    <li ng-repeat="e in errors track by $index">{{ e }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    @{inner}
                </div>
            </div>
        </div>
    </div>
}
