@import model.rights.UIRole

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="name">{{ 'NAME' | translate}}</label>
            <input type="text" class="form-control input-lg" ng-model="role.name" id="name" name="name"
                   maxlength="@{UIRole.NameMaxLength}" required>
        </div>
    </div>
</div>

<script type="text/ng-template" id="parent_nodes_renderer.html">
    <div class="tree-node tree-node-content">
        <i class="fa fa-2x" data-nodrag ng-click="toggle(this)"
           ng-class="{'fa-angle-right': collapsed, 'fa-angle-down': !collapsed}">
        </i>
        <span class="textContents"><strong>{{xivo.xivoName}}</strong></span >

        <i class="fa pull-right" data-nodrag
          ng-class="{'fa-square-o': xivo.deleting===false, 'fa-check-square-o ': xivo.deleting===true, 'fa-minus-square-o': xivo.deleting===undefined}"
          ng-click="toggleXivoCheck(xivo, 'deleting')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'DELETING' | translate }}</span>

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': xivo.editing===false, 'fa-check-square-o ': xivo.editing===true, 'fa-minus-square-o': xivo.editing===undefined}"
           ng-click="toggleXivoCheck(xivo, 'editing')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'EDITING' | translate }}</span>

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': xivo.creating===false, 'fa-check-square-o ': xivo.creating===true, 'fa-minus-square-o': xivo.creating===undefined}"
           ng-click="toggleXivoCheck(xivo, 'creating')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'CREATING' | translate }}</span>

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': xivo.reading===false, 'fa-check-square-o ': xivo.reading===true, 'fa-minus-square-o': xivo.reading===undefined}"
           ng-click="toggleXivoCheck(xivo, 'reading')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'READING' | translate }}</span>

    </div>
    <ol ui-tree-nodes="" ng-model="xivo.entities" ng-class="{hidden: collapsed}">
        <li ng-repeat="entity in xivo.entities" ui-tree-node
            ng-include="'terminal_node_renderer.html'">  </li>
    </ol>
</script>

<script type="text/ng-template" id="terminal_node_renderer.html">
    <div class="tree-node tree-node-content">
        <span class="textContents"><strong>{{entity.entityName}}</strong></span >

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': entity.operations.deleting===false, 'fa-check-square-o ': entity.operations.deleting===true, 'fa-minus-square-o': node.checkStatus==='partlyChecked'}"
           ng-click="toggleEntityCheck(xivo, entity, 'deleting')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'DELETING' | translate }}</span>

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': entity.operations.editing===false, 'fa-check-square-o ': entity.operations.editing===true, 'fa-minus-square-o': node.checkStatus==='partlyChecked'}"
           ng-click="toggleEntityCheck(xivo, entity, 'editing')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'EDITING' | translate }}</span>

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': entity.operations.creating===false, 'fa-check-square-o ': entity.operations.creating===true, 'fa-minus-square-o': node.checkStatus==='partlyChecked'}"
           ng-click="toggleEntityCheck(xivo, entity, 'creating')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'CREATING' | translate }}</span>

        <i class="fa pull-right" data-nodrag
           ng-class="{'fa-square-o': entity.operations.reading===false, 'fa-check-square-o ': entity.operations.reading===true, 'fa-minus-square-o': node.checkStatus==='partlyChecked'}"
           ng-click="toggleEntityCheck(xivo, entity, 'reading')" data-nodrag>
        </i><span class="textContents pull-right">{{ 'READING' | translate }}</span>

    </div>
</script>

<div class="col-lg-12">
    <div ui-tree id="tree-root">
        <ol ui-tree-nodes="" ng-model="role">
            <li ng-repeat="xivo in role.xivo" ui-tree-node
                ng-include="'parent_nodes_renderer.html'"></li>
        </ol>
    </div>
</div>

<div class="box-footer">
    <button type="submit" class="btn btn-lg btn-primary btn-block">{{ 'SAVE_ROLE' | translate }}</button>
</div>
