<div class="form-messages">
    <div ng-message="required">{{ 'REQUIRED' | translate }}</div>
    <div ng-message="compareTo">{{ 'COMPARE_TO' | translate }}</div>
    <div ng-message="">{{ 'COMPARE_TO' | translate }}</div>
</div>
