@()(implicit lang:Lang)

<div class="panel-foote">
    <span class="pull-right">
        <a href="http://Avencall.com/"><img src="@routes.Assets.at("images/Xivo.png")" height="15" width="33"> by Avencall </a>
        @(" - %s " format (ic.info.BuildInfo.version))&nbsp;
        <p></p>
    </span>
</div>
