@(title: String)
@import play.Play

<head lang="fr">
    <meta charset="UTF-8">
    @if(Play.application().isProd()) {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-ui-select/select.min.css")"/>
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-translate/angular-translate.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-translate/angular-translate-loader-partial.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-messages/angular-messages.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/controllers/navbar.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.12.1.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-ui-select/select.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
    } else {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/angular-ui-select/select.css")"/>
    <script src="@routes.Assets.at("javascripts/jquery-2.0.3.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-translate/angular-translate.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-translate/angular-translate-loader-partial.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-messages/angular-messages.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/ui-bootstrap-tpls-0.12.1.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/angular-ui-select/select.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/lodash.min.js")" type="text/javascript"></script>
    }
    <script src="@routes.Assets.at("javascripts/directives/checklist-model.directive.js")" type="text/javascript"></script>
    @if(title == "Login") {
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pages/login.css")">
    }
    <title>@title</title>
</head>
