@import model.AdministratorInterface
@(admins: AdministratorInterface)(implicit request: Request[_])

@sidebar_single_item(route: String, label: String, icon: String) = {
    @if(admins.isUrlAllowed(request.session.get("username").get, route, "GET")) {
        <li class="@if(request.path.equals(route)) { active }">
            <a href="@route"><i class="fa @icon"></i> <span>@label</span></a>
        </li>
    }
}

@* sidebar: style can be found in sidebar.less *@
<section class="sidebar">
    @* Sidebar Menu *@
    <ul class="sidebar-menu">
        <li class="treeview active">
            <a href="#"><i class="fa fa-server"></i> <span>{{ 'XIVOS' | translate }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu active">
                @sidebar_single_item(routes.Xivo.creationPage().url, "{{ 'CREATE_XIVO' | translate }}", "fa-plus-circle")
                <li ng-show="sidebarXivosPending">
                    <a href="#" class="in-progress"><i class="fa fa-hourglass-2"></i><span>{{ 'LOADING' | translate}}</span></a>
                </li>
                <li ng-repeat="xivo in sidebarXivosList | filter: {isProxy:false} track by $id(xivo)">
                    <a href="#" ng-if="xivo.isReachable">
                        <i class="fa fa-circle-o"></i> {{ xivo.name }}
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <a href="#" ng-if="!xivo.isReachable" class="disabled">
                        <i class="fa fa-circle-o"></i>
                            <span class="label label-danger" title="{{ 'UNABLE_TO_ACCESS_XIVO' | translate }} {{ xivo.name }} {{ xivo.host }}">
                                <i class="icon fa fa-warning"></i> {{ 'UNREACHABLE' | translate }}
                            </span>
                        {{ xivo.name }}
                    </a>
                    <ul class="treeview-menu active" ng-if="xivo.isReachable">
                        <li><a href="/entities?xivoId={{ xivo.id }}"><i class="fa fa-eye"></i> {{ 'VIEW_XIVO' | translate }}</a></li>
                        <li ng-repeat="entity in sidebarEntitiesList | filter: {xivo: {id: xivo.id}} : true">
                            <a href="/users?entityId={{ entity.combinedId }}"><i class="fa fa-circle-o"></i> {{ entity.displayName }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="sidebar-menu">
        <li class="treeview active">
            <a href="#"><i class="fa fa-server"></i> <span>{{ 'PROXYS' | translate }}</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>    
            <ul class="treeview-menu">
                @sidebar_single_item(routes.Xivo.creationPageProxy().url, "{{ 'CREATE_PROXY' | translate }}", "fa-plus-circle")
                <li ng-show="sidebarXivosPending">
                    <a href="#" class="in-progress"><i class="fa fa-hourglass-2"></i><span>{{ 'LOADING' | translate}}</span></a>
                </li>
                <li ng-repeat="proxy in sidebarXivosList | filter: {isProxy: true} track by $id(proxy)">
                    <a href="#">
                        <i class="fa fa-circle-o"></i> {{ proxy.name }}
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
        
                    <ul class="treeview-menu">
                        <li><a href="/entities?xivoId={{ proxy.id }}"><i class="fa fa-eye"></i> {{ 'VIEW_PROXY' | translate }}</a></li>
                        <li ng-repeat="entity in sidebarEntitiesList | filter: {xivo: {id: proxy.id}} : true">
                            <a href="/users?entityId={{ entity.combinedId }}"><i class="fa fa-circle-o"></i> {{ entity.displayName }}</a>
                        </li>
                    </ul>
                </li>
            </ul>        
        </li>
        @sidebar_single_item(routes.Users.searchPage().url, "{{ 'SEARCH_USERS' | translate }}", "fa-search")
        @sidebar_single_item(routes.Templates.index().url, "{{ 'TEMPLATES' | translate }}", "fa-file-text")
        @sidebar_single_item(routes.Administrators.listPage().url, "{{ 'ADMINISTRATORS' | translate }}", "fa-lock")
        @sidebar_single_item(routes.Roles.listPage().url, "{{ 'ROLES' | translate }}", "fa-key")
        @sidebar_single_item(routes.Validation.index().url, "{{ 'VALIDATION' | translate }}", "fa-check")
    </ul>
    @* /.sidebar-menu *@
</section>
@* /.sidebar *@
